body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #172326;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#opening_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(20%);
}

.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 5%;
  left: 80%;
  animation: opening_0 20s ease-in-out forwards;
}

.top_bar .link1 {
  font-size: 18pt;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 32px;
  cursor: pointer;
  width: 117px
}

.top_bar .link1:hover {
  text-decoration: underline;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  /*border-radius: 250px;*/
  animation: opening 8s ease-in-out forwards;
  animation-delay: 1s;
}

.title .top.circle {
  width:120px;
  height:120px;
  border-radius: 60px;
  position: relative;
  transform: translateY(20px);
  background: #372EC0;
  animation: opening_1 8s ease-in forwards;
  animation-delay: 2s;
  border: 0px solid;
}

.title .main.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width:500px;
  height:100px;
  background: #372EC0;
  animation: opening_2 8s ease-in forwards;
  animation-delay: 2s;
  z-index: 10;
  border: 0px solid;
}

.title .main.bar .logo {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 45pt;
  letter-spacing: 3px;
  color: black;
  opacity: 0;
  animation: opening_3 8s ease-in forwards;
  animation-delay: 2s;
}

.title .bottom.circle {
  width:120px;
  height:120px;
  border-radius: 60px;
  position: relative;
  transform: translateY(-20px);
  background: #372EC0;

  animation: opening_1 8s ease-in forwards;
  animation-delay: 2s;
  border: 0px solid;
}

@keyframes opening {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(405deg);
  }
  25% {
    transform: rotate(405deg);
  }
  37.5% {
    transform: rotate(720deg);
  }
  50% {
    transform: rotate(720deg);
  }
  62.5% {
    transform: rotate(1080deg);
  }
  75% {
    transform: rotate(1080deg);
  }
  87.5% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes opening_0 {
  0% {
    opacity: 0
  }
  95% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes opening_1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  2%{
    transform: scale(1.15);
  }
  5% {
    transform: scale(1);
    height:250px;
    border-radius: 0px;
    width: 95px;
    background: #FE621D;
  }
  25% {
    transform: scale(1);
    background: #FE621D;
  }
  27% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1);
    background: #41D24B;
  }
  50% {
    transform: scale(1);
    background: #41D24B;
    opacity: 1;
  }
  52% {
    transform: scale(1.15);
  }
  55% {
    transform: scale(1);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    height:250px;
    border-radius: 0px;
    width: 95px;
    background: #41D24B;
    opacity: 0;
  }
}

@keyframes opening_2 {
  0% {
    transform:scale(1);
  }
  2%{
    transform: scale(1.15);
  }
  5% {
    transform: scale(1);
    background: #FE621D;
  }
  25% {
    transform: scale(1);
    background: #FE621D;
  }
  27% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1);
    background: #41D24B;
  }
  50% {
    transform: scale(1);
    background: #41D24B;
  }
  52% {
    transform: scale(1.15);
  }
  55% {
    transform: scale(1);
    background: #E22D2D;
  }
  75% {
    transform: scale(1);
    background: #E22D2D;
    border: 0px solid transparent;
  }
  100% {
    transform: scale(1.4);
    background: #FFE92E;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
  }
}

@keyframes opening_3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opening_4 {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  100% {
    opacity: .4;
    transform: scale(.5);
  }
}

@keyframes opening_5 {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0);
    transform: scale(.5);
  }
  10% {
    transform: rotate(45deg);

  }
  20%{
    transform: rotate(0);
    transform: scale(.5);
  }
  50%{
    transform: rotate(0);
    transform: scale(.5);
  }
  60% {
    transform: rotate(-45deg);

  }
  70%{
    transform: rotate(0);
    transform: scale(.5);
  }
  100% {
      transform: rotate(0);
      transform: scale(.5);
  }
}

@keyframes arrow_hop {
  50% {
    transform: translateY(60px) scale(1.5);
  }
}


.arrow {
  position: absolute;
  top: 63%;
  transform: scale(1.5);
  left: 90%;
  opacity: 0;
  animation:
  opening_5 1s ease-in forwards,
  arrow_hop 2.5s ease-in-out infinite;
  animation-delay: 17s;
}

.add1 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  transform: scale(.5);
  animation:
  opening_4 3s ease-in forwards,
  spinning 30s ease-in infinite;
  animation-delay: 11s;
}
.div1 {
  position: absolute;
  top: 11%;
  left: 19%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 40s ease-in infinite;
  animation-delay: 11s, 29s;
}
.mul1 {
  position: absolute;
  top: 20%;
  left: 8%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;

}
.sub1 {
  position: absolute;
  top: 52%;
  left: 6%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 34s ease-in infinite;
  animation-delay: 11s, 25s;
}
.add2 {
  position: absolute;
  top: 37%;
  left: 16%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.div2 {
  position: absolute;
  top: 62%;
  left: 15%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.add3 {
  position: absolute;
  top: 73%;
  left: 2%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.mul2 {
  position: absolute;
  top: 88%;
  left: 11%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.sub2 {
  position: absolute;
  top: 82%;
  left: 22%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 34s ease-in infinite;
  animation-delay: 11s;
}
.sub3 {
  position: absolute;
  top: 32%;
  left: 33%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.mul3 {
  position: absolute;
  top: 12%;
  left: 45%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 36s ease-in infinite;
  animation-delay: 11s,22s;
}
.add4 {
  position: absolute;
  top: 22%;
  left: 57%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.mul4 {
  position: absolute;
  top: 65%;
  left: 30%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.add5 {
  position: absolute;
  top: 94%;
  left: 38%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.div3 {
  position: absolute;
  top: 73%;
  left: 50%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.mul5 {
  position: absolute;
  top: 80%;
  left: 62%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 28s ease-in infinite;
  animation-delay: 11s, 30s;
}
.sub4 {
  position: absolute;
  top: 66%;
  left: 70%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.div4 {
  position: absolute;
  top: 84%;
  left: 80%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 40s ease-in infinite;
  animation-delay: 11s;
}
.div5 {
  position: absolute;
  top: 25%;
  left: 75%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.sub5 {
  position: absolute;
  top: 6%;
  left: 69%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.add6 {
  position: absolute;
  top: 12%;
  left: 85%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.mul6 {
  position: absolute;
  top: 36%;
  left: 90%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}
.add7 {
  position: absolute;
  top: 49%;
  left: 79%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards,
  spinning 40s ease-in infinite;
  animation-delay: 11s,35s;
}
.sub6 {
  position: absolute;
  top: 95%;
  left: 95%;
  opacity: 0;
  animation: opening_4 3s ease-in forwards;
  animation-delay: 11s;
}

.spin {
  z-index:-100;
}
